<!DOCTYPE html>
<html>
	<body>
		<h2>Reward System</h2>
		<p>Please select the form of input:</p>
		<form action="/calculate" method="post">
		  File Path:<br>
		  <input type="text" name="file_path" value="">
		  <br>
		  Input Data:<br>
		  <textarea name="input_data" rows="4" cols="50"></textarea>
		  <br><br>
		  <input type="submit" value="Submit">
		</form> 
	</body>
</html>
